*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

body{
	background-color: #F6F2F2;
}

header{
       text-align: center;
       max-width: 1249px;
       margin: 30px auto;
       background: #000;
       opacity: 0.8;
}
.topnav {
	padding: 39px 0 29px;
}
.topnav a {
	color: #fff;
	padding: 39px 17px 29px;
}
.topnav a:hover {	
	background: red;
}
.topnav a {
	/*margin: 40px;*/
	color: #fff;
	padding: 39px 17px 30px;
}

.photo{
	display: inline-block;
	position: absolute;
    left: 1025px;
    top: 220px;
}	

.intro {
    position: absolute;
    width: 1249px;
    left: 335px;
    top: 219px;

}

.intro-wrapper {
    display: inline-block;
    width: 50%;
    vertical-align: top; ❸
    margin-right: 68px;
}

.intro-wrapper h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.intro-text {
    margin-bottom: 58px;
    opacity: 0.7; ❹
}

.contact-link {
    color: #ffffff;
    display: inline-block;
    background-color: #ff3f40;
    width: 227px;
    padding: 22px 0;
    text-align: center;
    text-decoration: none;
}

.intro-image {
    display: inline-block;
    width: 551px;
    height: 356px;
}

.intro-image{
	margin-top: -340px;
	margin-left: 700px; 
}